include MANIFEST.in
include README.md
include LICENSE
include .zenodo.json
include Makefile

graft eeg_positions
graft data

### Exclude

global-exclude *.py[co]
global-exclude __pycache__

recursive-exclude .github *
recursive-exclude images *.png

exclude .gitignore
exclude .coveragerc

