include MANIFEST.in
include README.md
include LICENSE
include CITATION.cff
include Makefile

graft eeg_positions
graft examples
graft data
graft docs

### Exclude

global-exclude *.py[co]
global-exclude __pycache__

recursive-exclude .github *
recursive-exclude .circleci *
recursive-exclude images *.png
recursive-exclude docs/_build *
recursive-exclude docs/generated *
recursive-exclude docs/auto_examples *

exclude .gitignore
exclude .coveragerc

