name: Python build and test and deploy

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: "0 4 1 * *"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"

    - name: Update pip, build, twine
      run: |
        python -m pip install --upgrade pip
        python -m pip install build twine

    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        fetch-tags: true
    - name: Build sdist
      run: python -m build --sdist
    - name: Check sdist
      run: twine check --strict dist/*
    - name: Install sdist
      run: pip install ./dist/eeg_positions-*
    - name: Clean up working directory
      run: rm -rf ./*
    - name: Try importing eeg_positions
      run: python -c 'import eeg_positions; print(eeg_positions.__version__)'
    - name: Remove sdist install
      run: pip uninstall -y eeg_positions

    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        fetch-tags: true
    - name: Build wheel
      run: python -m build --wheel
    - name: Check wheel
      run: twine check --strict dist/*
    - name: Install wheel
      run: pip install ./dist/eeg_positions-*.whl
    - name: Clean up working directory
      run: rm -rf ./*
    - name: Try importing eeg_positions
      run: python -c 'import eeg_positions; print(eeg_positions.__version__)'
    - name: Remove wheel install
      run: pip uninstall -y eeg_positions

  test:
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.12"]

    runs-on: ${{ matrix.platform }}
    needs: [build]

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        fetch-tags: true

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install --editable ".[dev]"

    - name: Check formatting
      if: matrix.platform == 'ubuntu-latest'
      run: |
        pre-commit install
        pre-commit run --all-files || ( git status --short ; git diff ; exit 1 )

    - name: Test with pytest
      # config in pyproject.toml
      run: pytest

    - name: Upload coverage report
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: ./coverage.xml

    - name: build docs
      if: matrix.platform == 'ubuntu-latest'
      run: |
        make -C docs html

    - name: Upload docs build artifacts
      if: matrix.platform == 'ubuntu-latest'
      uses: actions/upload-artifact@v4
      with:
        name: docs-artifact
        path: docs/_build/html
        include-hidden-files: true
